* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.logo {
  display: inline;
}
.logo-itbank {
  flex: 1 1 auto;
  height: 70px;
  margin-left: 20px;
  margin-right: 70px;
}
.main h1 {
  display: flex;
  margin-left: 20px;
}
.main span {
  margin-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main span:hover {
  color: #6c63ff;
}

#text-main {
  background-color: #0dcaf0;
}

.tercerDesarrollo {
  background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');
  background-repeat: no-repeat;
  width: 100%;
}
